PORT=3000
POSTGRES_DB=tradingon
POSTGRES_USER=tradingon
POSTGRES_PASSWORD=tradingon
DATABASE_URL=postgresql://tradingon:tradingon@localhost:5434/tradingon
DATABASE_SSL=false
TYPEORM_SYNCHRONIZE=false


DASHBOARD_ALLOWED_WALLET=0xd21760A4ad624d15ee37570B3C09Fd3Bff489309
DASHBOARD_AUTH_SECRET=4f9d2b7c8e1a6d3f0c5b9a2e7d1f8c4a6b3e9d0f2a1c7b5e8d4f6a9c2b1e3d7
DASHBOARD_SESSION_TTL_HOURS=12
HYPERLIQUID_MAX_ENTRY_SPREAD_BPS=35
HYPERLIQUID_MAX_ENTRY_SLIPPAGE_BPS=80
MIN_DAY_VOLUME=250000
MIN_OPEN_INTEREST=100000
